ul.fa-sm-btns {
    list-style: none;
}
ul.fa-sm-btns li {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align:center;
}
ul.fa-sm-btns li:hover {
    opacity: 0.8;
}
ul.fa-sm-btns li:before {
    color: #fff;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul.fa-sm-btns li a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-99999px;
}
/* setup individual social media channels */
ul.fa-sm-btns li#facebook {
    background: #3b5998;
}
ul.fa-sm-btns li#facebook:before {
    content: "\f09a";
}
ul.fa-sm-btns li#twitter {
    background: #00aced;
}
ul.fa-sm-btns li#twitter:before {
    content: "\f099";
}
ul.fa-sm-btns li#gplus {
    background: #dd4b39;
}
ul.fa-sm-btns li#gplus:before {
    content: "\f0d5";
}